<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/shop-homepage.css}">
</head>
<body>
<!-- Navigation -->
<div class="container">
    <div class="row">
        <div class="col-lg">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Issue ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Publication Date</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">SeriesNumber</th>
                    <th scope="col">Description</th>
                    <th scope="col">Cover Image</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Issue : ${Issues}">
                    <th scope="row" th:text="${Issue.ID}"></th>
                    <td th:text="${Issue.IssueID}"></td>
                    <td th:text="${Issue.Title}"></td>
                    <td th:text="${Issue.PublicationDate}"></td>
                    <th scope="row" th:text="${Issue.Publisher}"></th>
                    <td th:text="${Issue.SeriesNumber}"></td>
                    <td th:text="${Issue.Description}"></td>
                    <td th:text="${Issue.CoverImage}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>